name: Build and package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  DOTNET_VERSION: '9.0.x'
  PACKAGE_VERSION: 1.0.0
  APP_NAME: Puffix.ImageTools

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
  
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Build
      run: dotnet build ./Puffix.ImageTools/Puffix.ImageTools.csproj --configuration 'Release'
      
    - name: Publish
      run: dotnet publish ./Puffix.ImageTools/Puffix.ImageTools.csproj --runtime linux-x64 --self-contained true --output './out/linux-x64'
      
    - name: Publish
      run: dotnet publish ./Puffix.ImageTools/Puffix.ImageTools.csproj --runtime win-x64 --self-contained true --output './out/win-x64'

    - name: Zip
      working-directory: "./out"
      run: |

        7z a linux-x64 ./linux-x64/*
        
        7z a win-x64 ./win-x64/*       

    - name: Package
      run: |
        mkdir "${{ env.APP_NAME }}-${{ env.PACKAGE_VERSION }}/"
        

        cp -a ./linux-x64/. ${{ env.APP_NAME }}-${{ env.PACKAGE_VERSION }}/linux-x64/
        cp -a ./win-x64/. ${{ env.APP_NAME }}-${{ env.PACKAGE_VERSION }}/win-x64/

    - name: Upload
      uses: actions/upload-artifact@v4
      with: 
        name: ${{ env.APP_NAME }}-${{ env.PACKAGE_VERSION }}
        path: '${{ env.APP_NAME }}-${{ env.PACKAGE_VERSION }}'

    - name: Create release
      run: |
        gh --version
      
        gh release list

        # echo "run id:"
        # echo $GITHUB_RUN_ID
        gh release create v0.0.3 --target main --generate-notes --draft --latest=false ${{ env.APP_NAME }}-${{ env.PACKAGE_VERSION }}/*

        # # ls -R

        #--generate-notes ${{ env.APP_NAME }}-package-${{ env.PACKAGE_VERSION }}/*
      env:
        GH_TOKEN: ${{ secrets.PFX_IMAGES_GH_CLI_TOKEN }}
     